Source: edhttp
Priority: extra
Maintainer: Alexis Wilke <alexis@m2osw.com>
Build-Depends: cmake,
    cppthread-dev (>= 1.0.0.0~bionic),
    debhelper,
    doxygen,
    eventdispatcher-dev (>= 1.1.51.0~bionic),
    graphviz,
    libaddr-dev (>= 1.0.28.0~bionic),
    libadvgetopt-dev (>= 2.0.24.0~bionic),
    libas2js-dev (>= 0.1.36.0~bionic),
    libexcept-dev (>= 1.1.12.0~bionic),
    libmagic-dev,
    libssl-dev (>= 1.0.1),
    libtld-dev (>= 2.0.8.1~bionic),
    libutf8-dev (>= 1.0.6.0~bionic),
    serverplugins-dev (>= 2.0.1.1~bionic),
    snapcatch2 (>= 2.9.1.0~bionic),
    snapcmakemodules (>= 1.0.49.0~bionic),
    snapdev (>= 1.1.3.0~bionic),
    snaplogger-dev (>= 1.0.0.0~bionic)
Standards-Version: 3.9.4
Section: utils
Homepage: https://snapwebsites.org/
Vcs-Git: https://github.com/m2osw/snapcpp.git
Vcs-Browser: https://github.com/m2osw/sitter

#Package: edhttp-doc
#Section: doc
#Architecture: all
#Depends: ${misc:Depends}
#Description: Documentation for the C++ Event Dispathcer library.
# This package allows other projects to make use of HTTP clients and servers.

Package: edhttp
Section: utils
Architecture: any
Suggests: edhttp-doc
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Development package for the C++ Event Dispatcher library.
 This package allows other projects to make use of HTTP clients and servers.

Package: edhttp-dev
Section: libdevel
Architecture: any
Depends: edhttp (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Development package for the C++ Event Dispatcher library.
 This package allows you to very quickly create HTTP clients and servers
 without the need for tools such as curl, apache, nginx, etc.

# vim: ts=4 sw=4 et
